@import "tailwindcss";

:root {
  --background: #050816;
  --surface: #111827;
  --surface-light: #1f2937;

  --primary: #00f5d4;
  --secondary: #8b5cf6;

  --text: #ffffff;
  --muted: #94a3b8;

  --border: rgba(255,255,255,.08);

  --shadow: 0 20px 60px rgba(0,0,0,.35);
}

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

html{
  scroll-behavior:smooth;
}

body{
  background:var(--background);
  color:var(--text);
  font-family:var(--font-geist-sans);
  overflow-x:hidden;
}

a{
  color:inherit;
  text-decoration:none;
}

button{
  font-family:inherit;
}

section{
  width:100%;
}